<div class="d-flex flex-column justify-content-center align-items-center vh-100">
    <h1 class="text-center mb-4">Edit Password</h1>

    <div class="card p-4 shadow-lg" style="max-width: 400px; width: 100%;">
        <%= form_with model: Current.user, url: edit_password_path, class: "needs-validation", data: { turbo: false } do |form| %>
        <% if form.object.errors.any? %>
        <div class="alert alert-danger">
            <ul>
                <% form.object.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
            </ul>
        </div>
        <% end %>

        <div class="mb-3">
            <%= form.label :password, class: "form-label" %>
            <%= form.password_field :password, class: "form-control", placeholder: "Enter password", required: true %>
        </div>

        <div class="mb-3">
            <%= form.label :password_confirmation, class: "form-label" %>
            <%= form.password_field :password_confirmation, class: "form-control", placeholder: "Confirm password", required: true %>
        </div>

        <div class="d-grid">
            <%= form.submit "Update Password", class: "btn btn-primary" %>
        </div>

        <% end %>
    </div>
</div>